@androidwiltron:registry=https://npm.pkg.github.com/androidwiltron
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
//npm.pkg.github.com/androidwiltron/:_authToken=${NODE_AUTH_TOKEN}
//registry.npmjs.org/:_authToken=${NODE_NPM_AUTH_TOKEN}
@androidwiltron:registry=https://registry.npmjs.org